$primary-color: #000;
$secondary-color: #7e7e7e;

$header-height: 60px;

$cards-column-count: 4;
$space-between-cards: 50px;

// mobile variables
$mobile-cards-column-count: 2;
$mobile-space-between-cards: 20px;